<!-- form-example.component.html -->
<!-- {{ text }}
<button [disabled]="isDisable" type="button" (click)="confirm()">click!</button>
<input [(ngModel)]="fname">
<h1>{{ fname }}</h1>
<button *ngIf="showbutton" (click)="switch(false)">ON</button>
<button *ngIf="!showbutton" (click)="switch(true)">OFF</button>
<br>
<tr *ngFor="let book of books">
  <td>{{ book.title }}</td>
  <td>{{ book.author }}</td>
</tr> -->

<!-- <br> -->
<!-- Grade -->
<!-- <input [(ngModel)]="score">
<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="score >= 80 && score <= 100">Grade A</ng-container>
  <ng-container *ngSwitchCase="score >= 70 && score < 80">Grade B</ng-container>
  <ng-container *ngSwitchCase="score >= 60 && score < 70">Grade C</ng-container>
  <ng-container *ngSwitchCase="score >= 50 && score < 60">Grade D</ng-container>
  <ng-container *ngSwitchCase="score < 50">Grade F</ng-container>
  <ng-container *ngSwitchDefault>Please input score 0 - 100</ng-container>
</ng-container> -->

<!-- <form [formGroup]="form">
  <label>
    Address:
    <input formControlName="address">
  </label> <br>
  <label>
    Phone number:
    <input formControlName="phone">
  </label>  <br>
  <label>
    Name:
    <input formControlName="name">
  </label>  <br>
  <label>
    Zip Code:
    <input formControlName="zipCode">
  </label>  <br>
  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>

<input [(ngModel)]="name1">
{{name1 | uppercase}}

<input [(ngModel)]="surname1">
{{surname1 | lowercase}} -->
<router-outlet></router-outlet>
